<?xml version='1.0' encoding='utf-8'?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="MsSqlConnectionString" providerName="System.Data.ProviderName" connectionString="Data Source=.;Initial Catalog=AHO;Integrated Security=True;MultipleActiveResultSets=True;Encrypt=false;TrustServerCertificate=true" />
    </connectionStrings>
</configuration>