<?xml version='1.0' encoding='utf-8'?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="MsSqlConnectionString" providerName="System.Data.ProviderName" connectionString="Data Source=.;Initial Catalog=AHO;Integrated Security=True;MultipleActiveResultSets=True;Encrypt=false;TrustServerCertificate=true" />
        <add name="TimescaleDBConnectionstring" providerName="System.Data.ProviderName" connectionString="Data Source=j98bsbwjhd.n7o62kvbhp.tsdb.cloud.timescale.com;Initial Catalog=tsdb;Username=tsdbadmin; Password=kn5kszwj5xqo7o33" />
    </connectionStrings>
</configuration>